/* global.css 在 main.js 中导入 */
body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}
.el-card {
  border-radius: 12px !important;
}
.el-button {
  border-radius: 8px !important;
}
.el-table th.el-table__cell {
  background-color: #f5f7fa !important;
}